<html>
<head>
    <title>
        User Sign up
    </title>
    <style>
        #registrationTemplate {
            height: 600px !important;
            width: 620px !important;
        }
    </style>
</head>

<body>
    <div id="registrationTemplate">
    Dear <%= name %>, <br/> <br/>
      Thank you for registering on <%= appName %> application. Please find your login details below:  <br/>

       User Name : <%= userName %>  <br/>
       Temporary password: <%= password %>  <br/><br/>

Thank you, <br/>
<%= appName %> team
    </div>
</body>

</html>